# contents of .gitignore -- works
*
!.gitignore

!.config 
!.config/alacritty
!.config/alacrittiy/*
!.config/bottom/
!.config/bottom/*
!.config/bspwm/
!.config/bspwm/*
!.config/dunst/
!.config/dunst/*
!.config/fish/
!.config/fish/*
!.config/nvim/
!.config/nvim/*
!.config/rofi/
!.config/rofi/*
!.config/sxhkd/
!.config/sxhkd/*

