# all bar .gitignore
*
!.gitignore

# .config
!.config 
!.config/alacritty
!.config/alacrittiy/*
!.config/bottom/
!.config/bottom/*
!.config/bspwm/
!.config/bspwm/*
!.config/def/
!.config/def/*
!.config/dunst/
!.config/dunst/*
!.config/fish/
!.config/fish/*
!.config/nvim/
!.config/nvim/*
!.config/rofi/
!.config/rofi/*
!.config/sxhkd/
!.config/sxhkd/*

# notification apps
!.local
!.local/bin/
!.local/bin/*

# Wallpaper
!Pictures
!Pictures/wallpaper
!Pictures/wallpaper/*

